.home__left {
  width: 50%;
  margin: 2px;
}

.home__right {
  width: 50%;
  text-align: right;
  margin: 2px;
}

.home__socials {
  display: flex;
  flex-wrap: wrap;
}

.home__socials div {
  font-size: 35px;
  margin: 4px;
}

.home__socials div:hover {
  cursor: pointer;
}